# Django
DJANGO_SECRET_KEY=troque_isto
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# WMS
WMS_HOST=vdm-analytics-wms.mysql.database.azure.com
WMS_PORT=3306
WMS_USER=prod_vdm_wms_view
WMS_PASSWORD=troque_isto
WMS_DB=prod_vdm_wms
